<!doctype html>

<html>
<head>
	<title>Place-It DB by Group 4</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->     
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script src="/js/knockout.js"></script>
      <script src="/js/socket.io/dist/socket.io.js"></script>
      <script src="/js/Models/IndexModel.js"></script>
      <script src="/js/ViewModels/IndexViewModel.js"></script>
      <script src="http://code.highcharts.com/highcharts.js"></script>
      <script src="/js/gradeChart.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css"></link>

      <style>
      .page-header {
        margin : 10px 0 20px;
      }
      #container{

      }

      .warning{
        color : red;
      }
      </style>
    </head>
    <script>
    
    </script>
    <body class="container" id="container">

      <!-- NAV BAR -->
      <nav class="navbar navbar-default"  style="margin-top:10px;" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Place-It DB</a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            {{#if notloggedin}}
            <li><button class="btn btn-default" style="margin-top:5px;" data-toggle="modal" data-target="#login">Login</button>
             <button class="btn btn-default"  style="margin-top:5px;" onclick="window.open('/signup');" >Sign up</button>
           </li>
           {{/if}}
           {{#if loggedin}}
           <form method="POST" action="/logout">
            <button class="btn btn-default" style="margin-top:5px;" data-bind="click: logout">Log Out </button>
          </form>
           
           {{/if}}
         </ul>
       </div><!-- /.container-fluid -->
     </nav>
     <!-- END NAV BAR -->


     <!-- LOG-IN MODAL -->
     <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Log In</h4>
          </div>
    <!--  <div class="modal-body">
        <div style="width:100%; height:100%; "data-bind="gradechart : ''"></div>
      </div>-->
      <div class="modal-body">
        <div id="account">
          <form class="form-inline" role="form" method="POST" action = "/login">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">PID</label>
              <input type="text" name="pid" class="form-control" id="exampleInputEmail2" placeholder="Enter PID">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-default">Log in</button>

          </form>

          

        </div>
      </div>

    </div>
  </div>
</div>
<!-- END LOG-IN MODAL -->

<div>
  {{#if loginFail}}
  
    <div id="loginfail" class="alert alert-danger">
      Login failed. Please try again.
    </div>
  {{/if}}
  {{#if notloggedin}}
    <div id ="loginpls" class="alert alert-warning">Please log in to create or edit Place-Its.
    </div>
  {{/if}}
  

  </div>

<!-- FORM FOR CREATING A PLACE-IT -->
  <div>
    <h3>Create a Place-It</h3>
    <form class="form-inline" role="form" method="POST" action="/placeits">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" name="title" class="form-control" id="placeit_title" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>Description:</label>
        <input type="text" name="description" class="form-control" id="placeit_description" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>Latitude:</label>
        <input type="text" name="latitude" class="form-control" id="placeit_latitude" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>Longitude:</label>
        <input type="text" name="longitude" class="form-control" id="placeit_longitude" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>Active Date:</label>
        <input type="text" name="active_date" class="form-control" id="placeit_active_date" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>Start Week:</label>
        <input type="text" name="start_week" class="form-control" id="placeit_start_week" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>Day:</label>
        <input type="text" name="day" class="form-control" id="placeit_day" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>Week:</label>
        <input type="text" name="week" class="form-control" id="placeit_week" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label>Category:</label>
        <input type="text" name="category" class="form-control" id="placeit_category" placeholder="">
      </div>
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

    <!-- FORM FOR UPDATING PLACE-IT -->
  <div>
    <h3>Update a Place-It</h3>
    <form class="form-inline" role="form" method="POST" action="/placeits/update">
      <div class="form-group">
        <label>Place-It ID</label>
        <input type="text" name="id" class="form-control" id="placeit_id" placeholder="Place-It ID">
      </div>
      <br>
      <div class="form-group">
        <label>New Active Date</label>
        <input type="text" name="active_date" class="form-control" id="placeit_active_date" placeholder="">
      </div>
      <br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

    <!-- FORM FOR DELETING PLACE-IT -->
  <div>
    <h3>Delete a Place-It</h3>
    <form class="form-inline" role="form" method="POST" action="/placeits/delete">
      <div class="form-group">
        <label>Delete a Place-It:</label>
        <input type="text" name="id" class="form-control" id="placeit_id" placeholder="Place-It ID">
      </div><br>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>





      </body>



      </html>
