<!doctype html>

<html>
<head>
  <title>WebReg Pro by Yellow Fellows</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->     
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>   
<script src="/js/knockout.js"></script>
<script src="/js/socket.io/dist/socket.io.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="/js/gradeChart.js"></script>
</head>
<style>
.classholder{
}
</style>
<script>

</script>
<body class="container" id="container">
  <div class="page-header row ">
    <h1> 
    <img width="70" height="70" src="http://after5chronicles.files.wordpress.com/2013/02/ouroboros042.gif"/>
      Class Tracker <small> CSE 150 - Introduction to Artificial Intelligence: Search and Reasoning</small>
    </h1>
  </div>

</body>



</html>
